.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
  background-color: var(--color-surface);
  border-top: 1px solid var(--color-border);
  z-index: 1000;
  padding-bottom: 0;
}

/* Возможно, придётся поменять на старый вариант. */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .bottom-nav {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Старый вариант. */
/* @supports (-webkit-touch-callout: none) {
  .bottom-nav-bar {
    padding-bottom: var(--bottom-nav-bar-safe-area-padding);
  }
} */

.bottom-nav__item {
  text-decoration: none;
  color: var(--color-text-secondary);
  transition: color 0.2s ease;
}

.bottom-nav__item--active {
  color: var(--color-primary);
}
