@import "../../styles/variables.css";
@import "../../styles/common.css";

.games-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 173px);
  gap: 14px;
  justify-content: center;
  overflow-y: auto;
}