@import "../../styles/variables.css";

.dashboard-header {
  display: flex;
  align-items: center;
  background: var(--color-white);
  box-shadow: var(--card-shadow) var(--color-shadow);
  border-radius: var(--top-panel-border-radius);
  /* padding: 14.5px 24px; */
}

.dashboard-header-logo {
  max-width: 57px;
  max-height: 61px;
  background: var(--color-white);
  box-shadow: var(--card-shadow) var(--color-shadow);
  border-radius: var(--card-border-radius);
  display: flex;
  margin-right: 30px;
  padding: 5.01px 17px;
}

.dashboard-header-logo img {
  /* width: auto; */
  /* height: 61px; */
}

.dashboard-header-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--color-dark-blue);
  margin: 14.5px 0;
}