@import "../../styles/variables.css";

.card {
  position: relative;
  padding: 13px 16px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.card--white {
  background: white;
  color: var(--color-primary-blue);
}

.card--blue {
  background: var(--color-primary-deep-blue);
  color: white;
}

.card--light-blue {
  background: var(--color-primary-light-blue);
  color: var(--color-primary-blue);
}

.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 9px 0;
}

.card-title--small {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
}

.card-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;
  margin: 0;
}

.card-qr {
  position: absolute;
  top: 16px;
  right: 16px;
}

.card-qr-button {
  display: flex;
  border: none;
  border-radius: 11px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 52px;
  height: 52px;
  padding: 11px 11px ;
}

.card-qr-button--white {
  background: rgba(209, 232, 255, 0.42);
  color: var(--color-primary-blue);
}

.card-qr-button--blue {
  background: white;
  color: var(--color-primary-blue);
}

.card-qr-button--light-blue {
  background: var(--color-primary-light-blue);
  color: var(--color-primary-light-blue);
}

.card-qr-icon {
  width: 30px;
  height: 30px;
}

.card-body {
  position: relative;
  align-items: center;
}

.card-body-with-qr {
  margin-right: 50px;
}

.card-body-with-right-image {
  /* margin-right: 50px; */
}

.card-image-bottom-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
  max-width: 100px;
}

.card-image-top-right {
  position: absolute;
  top: 9px;
  right: 13px;
  /* max-width: 100px; */
}