@import "../../styles/variables.css";
@import "../../styles/common.css";

/* Общий контейнер карточки */
.game-item {
  /* Можно настроить ширину по макету */
  width: auto;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  background-color: var(--color-white);
  /* Чтобы нижние углы были скруглёнными */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Верхняя часть карточки */
.game-item-top {
  /* Небольшой фоновый цвет, если картинка не загрузилась */
  background-color: #e6e6fa;
  width: 100%;
  /* Задаём фиксированную высоту или меняем на auto, если нужно */
  height: 159px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Если нет картинки, показываем placeholder */
.game-item-placeholder {
  width: 100%;
  height: 100%;
  background-color: #e6e6fa;
}

/* Сама картинка */
.game-item-img {
  max-width: 100%;
  max-height: 100%;
  /* Обрезаем картинку по краям, если она не вписывается */
  object-fit: cover;
}

/* Нижняя часть карточки (полоса с названием) */
.game-item-bottom {
  background-color: white;
  text-align: center;
  padding: 11px 17px;
}

/* Название игры */
.game-item-title {
  color: var(--color-primary-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.15px;
}