@import "../../styles/variables.css";

.card-reward {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.card-reward__visual {
  margin-bottom: 7px;
}

.card-reward__svg {
  display: block;
}

.card-reward__svg--large {
  width: 95px;
  height: 88px;
}

.card-reward__info {
  display: inline-flex;
  align-items: flex-start;
}

.card-reward__count {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  margin-right: 2px;
  color: var(--color-primary-blue);
}

.card-reward__svg--small {
  width: 16px;
  height: 23.05px;
}
