@import "styles/variables.css";

body {
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  margin: 0;
  background: var(--color-bg);

  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* здесь и создаётся нужный отступ */
  gap: 20px;
  padding: 24px 27px 0 27px;
}