@import "../styles/variables.css";

/* Сброс отступов для body */
body {
    margin: 0;
    background: var(--color-bg);

    /* Задаём фоновое изображение */
    background-image: url('bg.png');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: auto;
}

/* Контейнер всей страницы */
.container {
    min-height: 100vh;
    padding: 13px 15px 21px 15px;
    padding-bottom: 16px;
}