@import "../../styles/variables.css";

.list-card {
  border-radius: var(--card-border-radius);
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
}

.list-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.list-card-title {
  flex-grow: 1;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--color-dark-blue);
}

.lock-icon {
  width: 20px;
  height: 20px;
  /* fill: var(--color-blue); */
  margin-left: 8px;
}

.list-card-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* общий стиль для каждой маленькой карточки-элемента */
.list-card-row {
  /* width: 100%; */
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow) var(--color-light-blue);
  padding: 10px;
  display: flex;
  align-items: center;
}

.list-card-row--header {
  background: none;
  box-shadow: none;
  padding: 0;
  /* border-bottom: 1px solid var(--color-light-gray); */
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  gap: 8px;
}

.list-card-row--content {
  display: flex;
  gap: 30px;
}

.list-card-cell {
  /* padding: 0 8px; */
  flex: 1;
  /* font-weight: 500; */
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--color-blue);
}

.list-card-cell--header {
  /* font-weight: bold; */
  color: var(--color-dark-blue);
}

.list-card-cell--action {
  text-align: end;
}