@import "../../styles/variables.css";

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.edit-button:disabled {
  visibility: hidden;
}

.edit-icon {
  width: 16.52px;
  height: 16.52px;
  /* fill: var(--color-blue); */
}