@import "../../styles/variables.css";

:root {
  --color-text-container: #F7F2E5;

  --cow-img-scale: 1;
  --cow-img-width: calc(140px * var(--cow-img-scale));
}

@media (max-width: 386px) {
  :root {
    --cow-img-scale: 0.95;
  }
}

.card-tip {
  position: relative;
  padding: 13px 16px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);

  background: white;
  color: var(--color-primary-blue);
}

.card-tip__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 8px 0;
}

.card-tip__text-container {
  background: var(--color-text-container);
  padding: 8.5px 12px;
  margin-right: 120px;
  border-radius: 8px;
}

.card-tip__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.15px;
  margin: 0;
}

.card-tip__svg-right {
  position: absolute;
  bottom: -15px;
  right: -4px;
  width: var(--cow-img-width);
}