@import "../../styles/variables.css";

.settings-page {
  /* width: 100%; */
  display: flex;
  background: var(--color-bg);
  /* gap: 16px; */
}

.edit-codes-list {
  width: 503px;
}

.edit-games-list {
  width: 503px;
}

.other-list {
  width: 503px;
}