@import "../../styles/variables.css";

/* Верхние карточки (эмблема и пользовательские данные) */
.top-cards {
  display: flex;
  margin-bottom: 15px;
  gap: 17px;
  /* margin: 0 15px 19px 15px; */
}

.top-cards {
  flex: 1;
  border-radius: 10px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.emblem-card {
  /* margin-right: 7.5px; */
  text-align: center;
  background: white;
  width: 100%;

  /* position: relative; */
  padding: 6px 8px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.user-card {
  display: flex;
  align-items: center;
  background: var(--color-primary-light-blue);
  width: 100%;

  position: relative;
  padding: 7px 16px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

/* Изображение стакана молока в карточке пользователя */
.user-card .milk-img {
  margin-right: 16px;
}

/* Информация пользователя */
.user-info {
  margin-left: 0px;
}

.user-info .username {
  font-family: 'Roboto Semibold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
  margin: 0;
}

.user-info .points {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
  margin: 0;
}