@import "../../styles/variables.css";

:root {
  --list-item-card-background: var(--color-white);
  --list-item-card-shadow-color: var(--color-shadow);
  --list-item-card-padding: 10px;
  
  --list-item-card__cell-font-weight: 400;
  --list-item-card__cell-font-size: 20px;
  --list-item-card__cell-line-height: 20px;
  --list-item-card__cell-color: var(--color-dark-blue);
  --list-item-card__cell-margin-right: 0;
  
  --list-item-card__edit-icon-width: 16.52px;
  --list-item-card__edit-icon-height: 16.52px;
  --list-item-card__edit-icon-color: var(--color-blue);
}

.list-item-card {
  display: flex;
  align-items: center;
  background: var(--list-item-card-background);
  border-radius: var(--card-item-border-radius);
  box-shadow: var(--card-shadow) var(--list-item-card-shadow-color);
  padding: var(--list-item-card-padding);
}

.list-item-card__cell {
  display: flex;
  /* position: relative; */

  font-weight: var(--list-item-card__cell-font-weight);
  font-size: var(--list-item-card__cell-font-size);
  line-height: var(--list-item-card__cell-line-height);
  color: var(--list-item-card__cell-color);
  flex: 1;
}

.list-item-card__cell.align-left {
  justify-content: left;
}

.list-item-card__cell.align-center {
  justify-content: center;
}

.list-item-card__cell.align-right {
  /* position: absolute; */
  /* right: 5px; */
  justify-content: center;
  margin-right: var(--list-item-card__cell-margin-right);
}

.list-item-card__edit-btn {
  display: flex;
  /* flex: 0 0 0 15%; */
  /* text-align: right; */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.list-item-card__edit-icon {
  width: var(--list-item-card__edit-icon-width);
  height: var(--list-item-card__edit-icon-height);
  color: var(--list-item-card__edit-icon-color);
}