@import "../../styles/variables.css";

:root {
  --home-scale: 1;
  --total-score-scale: 1;
  --total-score-height: calc(63px * var(--total-score-scale));
  --reward-img-height: calc(119px * var(--home-scale));
  --ticket-img-height: calc(131.8px * var(--home-scale));
}

@media (max-width: 386px) {
  :root {
    --total-score-scale: 0.98;
    --home-scale: 0.96;
  }
}

@media (max-width: 372px) {
  :root {
    --total-score-scale: 0.93;
    --home-scale: 0.94;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  padding: 13px 15px 8px 15px;
  gap: 15px;
}

.home-card-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;

  color: var(--color-primary-blue);
}

.total-score {
  display: flex;
  margin-top: 14px;
  height: var(--total-score-height);
}

.total-score__text {
  font-weight: 600;
  font-size: calc(24px * var(--total-score-scale));
  line-height: 32px;
  letter-spacing: 0px;

  margin-top: 23.8px;
  margin-right: 1px;
}

.scanner-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.img-center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.reward-img {
  height: var(--reward-img-height);
}

.ticket-img {
  height: var(--ticket-img-height);
}

@media (min-width: 400px) {
  .ticket-img {
    transform: translateX(6px);
  }
}

.contacts-card-text {
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.15px;
  margin: 0;
}

.contacts-card-text:link {
  color: inherit;
}

.contacts-card-text:visited {
  color: inherit;
}

.milk-box {
  display: flex;
}

.legal-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;
  text-align: center;
  color: var(--color-primary-blue);
  margin: 0 15px 0px 15px;
}