.game-container {
  width: 100vw;
  /* max-width: 428px; */

  height: 100vh;
  background-color: #eac49c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-canvas {
  width: 100%;
  height: auto;
  display: flex;
}

.best-score {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.15px;
  vertical-align: middle;

  color: white;
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10;
}

.current-score {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: center;
  vertical-align: middle;

  color: white;
  position: absolute;
  top: 44px;
  width: 100%;
  z-index: 10;
}