@import "../../styles/variables.css";

:root {
  --top-cards-emblem-scale: 1;
  --top-cards-border-radius: 9px;
}

@media (max-width: 386px) {
  :root {
    --top-cards-emblem-scale: 0.94;
  }
}

@media (max-width: 370px) {
  :root {
    --top-cards-emblem-scale: 0.91;
  }
}

.top-cards {
  display: flex;
  gap: 14.5px;
}

.top-cards-emblem-card {
  position: relative;
  flex: 1;
  min-width: 0;
  text-align: center;
  background: white;

  padding: 0px 16px;
  border-radius: var(--top-cards-border-radius);
  box-shadow: var(--card-shadow);
}

.top-cards-emblem-img {
  width: calc(142.01px * var(--top-cards-emblem-scale));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-cards-user-card {
  display: flex;
  flex: 1;
  min-width: 0;
  align-items: center;
  background: var(--color-primary-light-blue);

  position: relative;
  padding: 6px 16px 7px 10px;
  border-radius: var(--top-cards-border-radius);
  box-shadow: var(--card-shadow);
}

.top-cards-milk-img {
  min-width: 23px;
  margin-right: 16px;
}

.top-cards-user-info {
  margin: 0;
  padding: 0;
}

.top-cards-username {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
  margin: 0;
  padding: 0;
}

@media (max-width: 386px) {
  .top-cards-username {
    line-height: 19px;
  }
}

.top-cards-tickets {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
  margin: 0;
  padding: 0;
}