@import "../../styles/variables.css";

:root {
  --top-card-border-radius: 9px;
}

.top-cards {
  display: flex;
  margin-bottom: 15px;
  gap: 17px;
}

.top-cards-emblem-card {
  position: relative;
  text-align: center;
  background: white;
  width: 100%;

  padding: 0px 8px;
  border-radius: var(--top-card-border-radius);
  box-shadow: var(--card-shadow);
}

.top-cards-emblem-card .top-cards-emblem-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-cards-user-card {
  display: flex;
  align-items: center;
  background: var(--color-primary-light-blue);
  width: 100%;

  position: relative;
  padding: 6px 16px 7px 10px;
  border-radius: var(--top-card-border-radius);
  box-shadow: var(--card-shadow);
}

.top-cards-user-card .top-cards-milk-img {
  margin-right: 16px;
}

.top-cards-user-info {
  margin: 0;
  padding: 0;
}

.top-cards-user-info .top-cards-username {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
  margin: 0;
  padding: 0;
}

.top-cards-user-info .top-cards-tickets {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
  margin: 0;
  padding: 0;
}