.qr-scanner-button {
  width: 52px;
  height: 52px;
  padding: 0;
  flex-shrink: 0;

  background-color: var(--color-surface-secondary);
  color: var(--color-primary);

  border-radius: var(--radius-medium);
  font-size: 40px;

  transition: filter 0.35s ease;
}

.qr-scanner-button--on-primary {
  background-color: var(--color-surface);
  color: var(--color-primary);
}

.qr-scanner-button:hover {
  filter: brightness(0.95);

  /* background-color: #c2dcf2; */

  /* background-color: var(--color-primary);
  color: var(--color-surface-secondary); */
}

.qr-scanner-button__svg {
  width: 30px;
  height: 30px;
}
