@import "../../styles/variables.css";

:root {
  --tab-bar-width: var(--tabbar-width);
  --tab-bar-height: 36px;
  --tab-bar-box-shadow: var(--card-shadow);
  --tab-bar-shadow-color: var(--color-shadow);
  --tab-bar-border-radius: var(--tabbar-border-radius);
  --tab-bar-padding-x: 2px;

  --tab-bar__item-font-size: 16px;
  --tab-bar__item-font-weight: 500;
  --tab-bar__item-line-height: 32px;
  --tab-bar__item-margin-y: 2px;
  --tab-bar__item-color: var(--color-blue);
  
  --tab-bar__item--active-color: var(--color-dark-blue);
  --tab-bar__item--active-background: var(--color-white);
  --tab-bar__item--active-line-height: 32px;
}

.tab-bar {
  display: flex;
  width: var(--tab-bar-width);
  height: var(--tab-bar-height);
  background: transparent;
  box-shadow: var(--tab-bar-box-shadow) var(--tab-bar-shadow-color);
  border-radius: var(--tab-bar-border-radius);
  overflow: hidden;
  padding: 0 var(--tab-bar-padding-x);
  align-items: center;
}

.tab-bar__item {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: var(--tab-bar__item-color);
  font-size: var(--tab-bar__item-font-size);
  font-weight: var(--tab-bar__item-font-weight);
  line-height: var(--tab-bar__item-line-height);
  margin: var(--tab-bar__item-margin-y) 0;
  transition: all 0.3s ease;
}

.tab-bar__item--active {
  background: var(--tab-bar__item--active-background);
  color: var(--tab-bar__item--active-color);
  line-height: var(--tab-bar__item--active-line-height);
  border-radius: var(--tabbar-item-border-radius);
  box-shadow: var(--card-shadow) var(--color-shadow);
}