@import "../../styles/variables.css";

:root {
  --color-progress-bg: #FFF5E0;
  --milkcoins-bar-border-radius: 9px;
}

/* Обертка с иконкой и данными */
.milkcoins-bar {
  display: flex;
  background: white;

  margin-bottom: 15px;
  padding: 8px 13px;
  border-radius: var(--milkcoins-bar-border-radius);
  box-shadow: var(--card-shadow);
}

/* Иконка стакана */
.milkcoins-icon {
  width: 32px;
  height: auto;
  margin-right: 8px;
}

/* Контейнер для текста и прогресс-бара */
.milkcoins-info {
  flex: 1;
}

/* Первая строка: «МилкКоины» слева, «20/100» справа */
.milkcoins-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Текст «МилкКоины» */
.milkcoins-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
}

/* Счёт «20/100» */
.milkcoins-value {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-primary-dark-blue);
}

/* Фон прогресс-бара */
.milkcoins-progress-bg {
  margin-top: 7px;
  width: 100%;
  height: 13px;
  background-color: var(--color-progress-bg);
  border-radius: 10px;
  overflow: hidden;
}

/* Заполнение прогресс-бара */
.milkcoins-progress-fill {
  height: 100%;
  background-color: var(--color-primary-dark-blue);
  transition: width 0.3s ease;
  width: 0;
  border-radius: 10px;
}