@import "../../styles/variables.css";

.role-select {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-light-gray);
  border: none;
  border-radius: var(--card-border-radius);
}

.role-select li {
  padding: 8px 12px;
  cursor: pointer;
  text-align: start;
}

.role-select li.selected {
  background: var(--color-role-selected);
}