.game-container {
  width: 100vw;
  height: 100vh;
  background-color: #eac49c;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

@media (max-height: 800px) {
  .game-container {
    align-items: start;
  }
}

.game-canvas {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 0 79px 0;
}