.game-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #eac49c;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

@media (max-height: 800px) {
  .game-container {
    align-items: start;
  }
}

.game-canvas {
  width: 100%;
  height: 100%;
}