@import "../../styles/variables.css";
@import "../../styles/common.css";

/* Контейнер для кнопки и текста */
.scanner-button-container {
  /* Отступы от краёв экрана: сверху 86px, снизу 71px, слева и справа 83px */
  margin: 86px 83px 71px 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили кнопки */
.scanner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-blue);
  border: none;
  border-radius: 16px;
  /* Ширина = 100% минус суммарные отступы слева и справа (83+83) */
  width: calc(100%);
  /* Фиксированная высота, можно изменить по необходимости */
  height: 200px;
  cursor: pointer;
  box-shadow: 0px 0px 3.4px 0px #97C2EC36;
  fill: white;

}

/* Стили для иконки внутри кнопки */
.scanner-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Текст, расположенный вне кнопки, с отступом 12px сверху */
.scanner-text {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  /* Или другой цвет, есsли требуется */
  color: var(--color-primary-blue);
}

.qr-icon {
  width: 115.65383911132812;
  height: 111.92308044433594;

}