@import "../../styles/variables.css";
@import "../../styles/common.css";

:root {
  --color-unloaded-bg: #E6E6FA;
}

.game-item {
  width: auto;
  height: 210px;
  max-width: 173px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.game-item-top {
  background-color: var(--color-unloaded-bg);
  width: 100%;
  height: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-item-placeholder {
  max-width: 100%;
  height: 100%;
  background-color: var(--color-unloaded-bg);
}

.game-item-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.game-item-bottom {
  height: auto;
  background-color: white;
  text-align: center;
  padding: 6px 0 9px 0;
}

.game-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.15px;

  color: var(--color-primary-blue);
  margin: 0;
}