@import "../../styles/variables.css";

:root {
  --bottom-nav-bar-background: #FFFFFF;
  --bottom-nav-bar-border-color: #C7CFD6;
  --bottom-nav-bar-foreground: #B3C1CF;

  --bottom-nav-bar-foreground-active: var(--color-primary-blue);
  
  --bottom-nav-bar-height: 57px;
  --bottom-nav-bar-safe-area-padding: 12px;
  
  --bottom-nav-bar__tab-font-family: "Roboto", sans-serif;
  --bottom-nav-bar__tab-font-weight: 600;
  --bottom-nav-bar__tab-font-size: 10px;
  --bottom-nav-bar__tab-line-height: 0;
  --bottom-nav-bar__tab-letter-spacing: 0.06px;
  
  --bottom-nav-bar__icon-size: auto;
  --bottom-nav-bar__icon-margin-bottom: 13px;
}

.bottom-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-nav-bar-height);
  background-color: var(--bottom-nav-bar-background);
  border-top: 1px solid var(--bottom-nav-bar-border-color);
  z-index: 100;
}

@supports (-webkit-touch-callout: none) {
  .bottom-nav-bar {
    padding-bottom: var(--bottom-nav-bar-safe-area-padding);
  }
}

.bottom-nav-bar__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: var(--bottom-nav-bar__tab-font-family);
  font-weight: var(--bottom-nav-bar__tab-font-weight);
  font-size: var(--bottom-nav-bar__tab-font-size);
  line-height: var(--bottom-nav-bar__tab-line-height);
  letter-spacing: var(--bottom-nav-bar__tab-letter-spacing);

  color: var(--bottom-nav-bar-foreground);
  transition: color 0.3s ease;
}

.bottom-nav-bar__tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--bottom-nav-bar__icon-size);
  height: var(--bottom-nav-bar__icon-size);
  margin-bottom: var(--bottom-nav-bar__icon-margin-bottom);
}

.bottom-nav-bar__tab--active {
  color: var(--bottom-nav-bar-foreground-active);
}